@import "./utils";


.wrap {
    background-color: unset;
    height: 100%;
}

.main {
    margin-top: 60px;

    @include mobile {
        margin: 0;
        padding: 0.75rem;
    }
    @include tablet {
        margin: 0;
        padding: 0.75rem;
    }
    &__pagettl {
        align-items: center;
        padding: 4rem 0;
        text-align: center;

        & h4.ttl-txt{
            font-family: 'HANAMDAUM';
            font-size: 28px;
            color: #343a40;
            margin: 0 0 0.5rem;
        }
        & p.copy-txt {
            font-family: 'IBMPlexSansKR-Regular';
            font-size: 16px;
            margin: 0;

            & b.txt-point{
                font-weight: bold;
            }
        }
    }
    &__pagebody {
        margin-top: 30px;

        & .card-wrap {
            display: block;

            & .card {
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 1px solid rgba(0, 0, 0, 0.125);
                border-radius: 3px;

                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
                border-width: 0;
                margin: 0;

                &__item {
                    border-top-left-radius: 3px !important;
                    border-top-right-radius: 3px !important;
                    margin-bottom: 0;
                    background-image: linear-gradient(to right, #514A9D 0%, #24C6DC 100%);
                    background-repeat: repeat-x;
                    margin: 0 0 1rem;

                    & img {
                        border-style: none;
                        max-width: 100%;
                        height: auto;
                        border-top-left-radius: 3px !important;
                        border-top-right-radius: 3px !important;
                        opacity: 0.35;
                        transition: all 0.2s ease-in-out;
                        width: 750px;
                        display: block;

                        &:hover {
                            opacity: 0.9;
                        }
                    }
                }

                &__body {
                    padding:2rem;
                    max-width: 750px;

                    &__ttl {
                        color: #333;
                    }
                    
                    &__date {
                        color: #514A9D;
                        margin: 0;
                    }

                    &__line {
                        margin: 2rem 0;
                        background:gainsboro;
                        height:1px;
                        border:0;
                    }

                    @include mobile {
                        padding: 2rem 1rem;
                    }

                    .reply-wrap {
                        width: 100%;
                        max-width: 100%;
                        flex: 0 0 100%;
                        padding: 0;
                        text-align: center;
                        margin: 2rem 0;

                        .reply {
                            text-decoration: none;
                            text-shadow: none;
                            text-transform: none;
                            letter-spacing: normal;
                            word-break: normal;
                            word-spacing: normal;
                            white-space: normal;
                            line-break: auto;
                            text-align: start;
                            font-family: "Fira Sans", "Helvetica Neue", Arial, sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1.5;
                            top: 0;
                            left: 0;
                            background-color: #f8f9fa;
                            border: 0;
                            z-index: 1;
                            opacity: 1;
                            position: relative;
                            display: inline-block;
                            margin: 0 10px;
                            margin-top: 5px;
                            width: 100%;
                            max-width: 90%;
                            padding: 1rem 1.4rem;
                            border-radius: 10px;

                            &__arrow {
                                position: absolute;
                                display: block;
                                left: calc((0.5rem + 1px) * -1);
                                width: 0.5rem;
                                height: 1rem;
                                margin: 0.3rem 0;
                                top: 30%;
                                margin-top: -5px;

                                &::after {
                                    position: absolute;
                                    display: block;
                                    content: "";
                                    border-color: transparent;
                                    border-style: solid;
                                    border-width: 0.5rem 0.5rem 0.5rem 0;
                                    left: 1px;
                                    border-right-color: #eaeaea;
                                }
                            }

                            &__header {
                                padding: 0.5rem 0;
                                font-size: 1rem;
                                margin: 0;
                            }

                            &__body {

                                & p {
                                    color: #222;
                                    margin: 0 0 0.5rem;
                                }
                            }
                        }

                        .reply-date {
                            & p {
                                margin: 0.5rem;
                                text-align: right;
                                color: gainsboro;
                            }
                        }
                    }


                    &__input {
                        

                        & textarea {
                            border-color: gainsboro;
                            padding: 1rem;

                            width: 100%;
                        }

                        & button {
                            margin-top: 1rem;
                            border: 0;
                            padding: 8px 14px;
                            color: #fff;
                            font-weight: 400;
                            border-radius: 4px;
                            background-color: #333;
                            box-sizing: border-box;
                            letter-spacing: -0.16px;
                        }

                        & button:hover {
                            cursor: pointer;
                        }
                    }
                    
                    &__btn-wrap {
                        text-align: right;
                    }

                }
                .btn-wrap {
                    position: relative;
                    width: 100%;
                    min-height: 1px;
                    max-width: 40%;
                    margin: 4rem auto 5rem;

                    @include mobile {
                        max-width: 60%;
                    }

                    & .join-btn {
                        border: 1px solid transparent;
                        padding: 1rem 1rem;
                        font-size: 0.875rem;
                        line-height: 1.5;
                        border-radius: 3px;
                        color: #fff;
                        background: linear-gradient(-300deg, #3daf70, #0081b8);
                        display: block;
                        width: 100%;
                        cursor: pointer;
                        font-size: 18px;
                        border: 0;
                        font-family: 'HANAMDAUM';
                    }
                }
                .btn-wrap #showPrize {
                    margin-top: -3rem;
                    background: linear-gradient(-60deg, #0081b8, #3daf70);
                }
            }
        }
    }
    .evt-footer {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;
    }
}
